/* Project Unfocused */
project {
	cursor: pointer;
	display:block;
	padding:20px;
	background-color: #f8f8f8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #ddd;
	margin: 20px 0px 20px 0px;
}

project > i {
  float:left;
  margin-right: 8px;
  color:#aaa;
}

project > p {
	margin:10px 0 15px 0;
}
/* Project focused */
project:hover, project:focus {
	background-color: #f0f0f0;
  border: 1px solid #ccc;
}

/* Project heading - unfocused */
project > h4 {
  color:#d85b70;
	display: block;
	font-weight: bold;
	font-size:120%;
	line-height: 24px;
	font-family: "Open Sans", "HelveticaNeue", 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Project update status : when project unfocused */
project > update {
  font-family:monospace;
  border-radius: 5px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #ddd;
  padding:4px;
}

/* Project update status : Project focused */
project:hover update, project:focus update {
	/*background-color: #fafafa;*/
}
